.animating {


  &.page--home {

    .nav__hamburger {
      opacity: 0 !important;
    }

    .nav__item {
      opacity: 0;
    }

    .tile {

      &.selected {
        z-index: -1;
        opacity: 0;
      }

      img {
        transition: none !important;
      }

      transition: none;
    }

  }

}

.animation-done {
  .hero__image-mask {
    display: none;
  }
}

.bad-performance {

}
